a{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-variant: small-caps;
  font-size: 25px;
  letter-spacing: 1px;
}

h1{
  font-size: 20px;
  text-align: center;
  padding-top: 71px;
  color: black;
  column-count: 3;
  padding-right: 30px;
  padding-left: 30px;


}
