<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <img class="fb" src="https://cdn3.iconfinder.com/data/icons/capsocial-round/500/facebook-512.png" alt="Smiley face" height="42" width="42">
    <img class="ig" src="https://www.freepnglogos.com/uploads/pics-photos-instagram-logo-png-4.png" alt="Smiley face" height="55" width="55">
    <strong>| Contact us</strong>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="aboutus">About Us <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="sponsors">Management<span class="sr-only">(current)</span></a>
      </li>
    </ul>

  </div>
</nav>


<router-outlet></router-outlet>
