.navbar a:hover {
  float: right;
  opacity: 0.75;
}


.nav-item{
  text-align: center;
}

a {
  color: black;
}

.nav-link a:hover{

}

.fb{
  position: absolute;
  right: 20px;
}

.ig{
  position: absolute;
  right: 75px;
}

strong{
  position: absolute;
  right: 150px;
  opacity: 0.85;
}
