p{
  text-align: center;
  padding-top: 20px;
  font-size: 25px;
  letter-spacing: 1px;
}

.img{
  border-radius: 50px;
  display: flex;
  justify-content: center;

}

h1{
  font-size: 20px;
  text-align: center;
  padding-top: 55px;
  color: black;
  column-count: 3;
  padding-right: 30px;
  padding-left: 30px;


}
