p{
  text-align: center;
  padding-top: 20px;
  font-variant: small-caps;
  font-size: 25px;
  letter-spacing: 1px;
}

.img{
  border-radius: 50px;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.img1{
  padding: 20px;
  border-radius: 50%;
}

.img2{
  padding: 20px;
  border-radius: 50%;

}

.img3{
  padding: 20px;
  border-radius: 50%;

}

.img4{
  padding: 20px;
  border-radius: 50%;

}

strong{

}
